// font
h1, h2, h3, h4, h5 {
    font-family: $montserrat;
}

.titre,
.btn {
    font-family: $montserrat;
}

p {
    font-family: $crimson;
}
input[placeholder] {
    font-family: $crimson;
}