@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Montserrat&display=swap');

// color
$bg : #292929;
$white : #E3E3E3;
$Submit : #949494;
$Border : #949494;
$Placeholder : #949494;

// font
$crimson: 'Crimson Text', serif;
$montserrat: 'Montserrat', sans-serif;