form {

  label {
    display: none;
  }

  input, textarea {
    padding: $padding;
    border-radius: none;
    @extend p; //Même réglages que les paragraphes pour les polices
    color:$white;
    margin-bottom: 1rem;
    resize:none;

    &:focus, &:focus-visible, &:target, &:active, &:-moz-focusring{
      border-radius: inherit;
      border-color: $darkgrey;
      box-shadow: 0px 0px 5px $white;
      outline: none; // For the :-moz-focusring pseudo element : https://developer.mozilla.org/fr/docs/Web/CSS/:-moz-focusring
    }
  }
}

// J'imagine que je pourrais avoir des formulaires sur fond plus clair, donc je fais une classe spéciale pour la couleur grise
.grey {
  input, textarea {
    border: 1px solid $darkgrey;
    background: transparent;
  }
}