.title {
  display: flex;
  height: 2rem;
  margin-bottom: 1.8rem;

  img {
    height: 2rem;
    width: 2.8rem; // L'image fait 30px*42px, j'ai fait une règle de 3
    margin-right: .7rem;
  }

  //  Le h2 n'est pas parfaitement centré par rapport à l'image, j'utilise un padding top pour le positionner dans la div parente .title qui à la même hauteur que l'image
  h2 {
    line-height: 1.2rem;
    font-size: 1.2rem;
    padding: .7rem 0 0 0;
    margin: 0;
  }
}