// Google fonts
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');

$ft-main : 'Roboto', 'Crimson Text', sans-serif; // J'ai modifié la police, ne la trouvant pas adequat. Par défaut j'avais mis : "Crimson Text", serif;
$ft-headings : 'Montserrat', sans-serif;

// COLORS
$white : #e3e3e3;
$grey : #949494;
$darkgrey : #454545;
$dark : #292929;
$border-color: $darkgrey;


// PADDING
$padding : .8rem;
$padding-xxs : $padding * 0.125;
$padding-xs : $padding * 0.25;
$padding-s : $padding * 0.5;
$padding-m : $padding;
$padding-l : $padding * 2;
$padding-xl : $padding * 3;
$padding-xxl : $padding * 4;