// font
$font-Lato: 'Lato', sans-serif;
$font-Poppins: 'Poppins', sans-serif;

// color 
$c-text: #ffffff;
$c-p: #bec3c5;

// bg
$c-bg-white: #ffffff;
$c-bg-grey: #fbfbfb;
$c-bg-dark-olive: #222f36;
$c-bg-dark-grey : #292825;
$c-bg-dark : #242320;

// titre h2
$c-h2: #535353;
$c-h1: #e3e1e1;
$c-h3-design: #f18b6d;
$c-h3-dev: #f1d204;
$c-h3-analiys: #694c8a;

// btn
$c-btn: #f1d204;










